.header-home{
  height: 200px;
  background-color: #80a8ff;
}
canvasjs-chart {
  width: 100%; /* Assure que les graphiques prennent toute la largeur de leur conteneur */
  height: auto; /* Pour rendre les graphiques responsives */
}
