* {
  //background-color: #9e9e9e;
  box-shadow: 0 0 0 1px #80a8ff inset;
}


.header-home{
  height: 100px;
  background-color: #80a8ff;
}
canvasjs-chart {
  //width: 100%; /* Assure que les graphiques prennent toute la largeur de leur conteneur */
  //height: auto; /* Pour rendre les graphiques responsives */
}
