
.header {
  width: 100%;
  .action-container {
    margin: 0;
    button{
      width: auto;
      height: auto;
      margin: 5px;
      mat-icon{
        width: auto;
        height: auto;
        font-size: 30px;
      }
      .first-icon{
        margin-right: -12px;
      }
    }
    .delete-icon {
      color: red;
    }
    .action-icon {
      color: green;
    }

  }

  .filter-field {
    font-size: 1rem;
    height: 60px;
    min-width: 300px;
    margin-bottom: 5px;

    mat-label {
      font-size: 1rem;
    }

    input {
      border-bottom: solid 1px #004dff;
      margin: 2px 0;
      //padding: 5px 5px;
    }
  }

}

.list-pagination{
  margin: 10px 0;
  font-size: 1rem;
  color: #004985;
}

/* Exemples de styles */
table {
  width: 90%;
}
.mat-mdc-header-row {
  font-size: 1.2em;
  //font-weight: bold;
}
.mat-mdc-row{
  font-size: 1em;
}
.mat-column-action {
  width: 100px;
}

.evaluation-btn {
  width: 100%;
  //color: #007f41;
  mat-icon{
    width: auto;
    height: auto;
    margin-left: 5px;
    font-size: 25px;
    //color: #007f41;
  }
}

.action-btn {
  width: 100%;
  mat-icon{
    width: auto;
    height: auto;
    font-size: 25px;
    color: #004b87;
  }
}


// spinner and error message
.mat-mdc-progress-spinner{
 margin: 100px auto;
}
.spinner .spinner-border {
  width: 5rem;
  height: 5rem;
}
.error-message{
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  text-align: center;
  color: red;
  font-size: 2em;
  margin: 50px 0;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: rgba(0, 0, 0, 0.29); /* Semi-transparent pour obscurcir le reste de la page */
  z-index: 1000; /* Au-dessus des autres composants */
  pointer-events: all; /* Permet de capturer les clics */
}

.spinner-load {
  z-index: 1100; /* Assurez-vous que le spinner est au-dessus de l'overlay */
}

// pdf viewer
ngx-extended-pdf-viewer{
  width: 100%;
  height: 100hr;
}

.criteria-container{
  font-weight: bold;
  font-size: 1.3rem;
  .criteria-accept{
    color: #007e40;
    margin-left: 10px;
  }
  .criteria-Reject{
    color: #fb0000;
    margin-left: 15px;
  }
}


//Rename file
.filter-field-rename {
  display: flex;
  align-items: start;
  //margin-right: 100px;

  mat-form-field {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 8px;
    width: 300px;

    input {
      flex: 1;
      width: 100%;
    }

  }
  button {
    margin-top: -20px;
    margin-left: -8px;
  }
}

// Is Result
.body-viewer {
  display: flex;
  flex-wrap: wrap; // Pour permettre un comportement responsive
  gap: 16px; // Espace entre les deux conteneurs
  width: 100%;
  height: auto; // ====================================================================================================0
  margin: 15px 0;
  padding: 10px;
  .pdf-viewer {
    flex: 1; // Prend tout l'espace disponible
    min-width: 300px; // Largeur minimale pour assurer que le PDF viewer ait une taille minimum raisonnable
    max-width: 50%; // Ne pas dépasser 50% de la largeur totale
    max-height: 100%;
    min-height: 810px; // ====================================================================================================0
    background-color: #f5f5f5; // Exemple de style pour le fond (optionnel)
  }

  .result-container {
    flex: 1; // Prend tout l'espace disponible
    min-width: 300px; // Largeur minimale
    max-width: 50%; // Ne pas dépasser 50% de la largeur totale
    background-color: #ffffff; // Exemple de style pour le fond (optionnel)
    height: auto;
    overflow: auto; // Permettre le scroll si le contenu dépasse
    .return-button {
      display: flex;           /* Utiliser flexbox pour l'alignement */
      justify-content: flex-end; /* Aligner le contenu à droite */
      width: 100%;              /* Prendre 100% de la largeur */
      margin-bottom: 15px;
      button{
        color: #203863;
      }
    }



  }

  @media (max-width: 768px) {
    flex-direction: column;
    .pdf-viewer, .result-container {
      max-width: 100%;
    }
  }
}
.result-text {
  .accepted{
    font-size: 1.2rem;
    color: #007f41;
    margin-bottom: 5px;
  }
  .rejected{
    font-size: 1.2rem;
    color: #fd0000;
    margin-bottom: 5px;
  }
  ul{
    list-style-type: none;
    li{
      h3{
        font-size: 1.2rem;
        color: #007f41;
      }
      p{
        font-size: 1.1rem;
        font-style: normal;
        color: black;
      }

    }
  }

  .divider-criteria{
    width: 100%;
    margin: 15px 0;
    border-bottom: 8px solid #eaeaea;
  }
  .score-score{
    width: 100%;
    font-size: 50px;
    text-align: center;
    display: block;
    margin: 15px auto
  }
  .score-message{
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 5px;
  }
}


//Evaluation
.keywords-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  gap: 10px; /* Espacement entre les mots */
}

.keyword {
  background-color: #f0f0f0; /* Couleur de fond pour les mots */
  padding: 5px 10px; /* Espacement autour des mots */
  border-radius: 4px; /* Coins arrondis */
  //color: #007e40; /* Couleur du texte pour les mots trouvés */
  //font-weight: bold; /* Mettre le texte en gras */
}

/* Spécifique pour les mots non trouvés */
.rejected .keyword {
  color: #fb0000; /* Couleur du texte pour les mots non trouvés */
}

/*


* {
  //background-color: #9e9e9e;
  box-shadow: 0 0 0 1px #80a8ff inset;
}
*/

