
<ng-container *ngIf="!isResult">
  <div class="d-flex justify-content-center my-4" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>

  <div class="spinner-overlay" *ngIf="inOperation">
    <mat-spinner class="spinner-load"></mat-spinner>
  </div>

  <div *ngIf="!isLoading && dataSource && dataSource.data && dataSource.data.length > 0 && !error"
       class="container-fluid">
    <div class="header row d-flex align-items-center justify-content-between">
      <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
        <mat-form-field appearance="outline" class="w-100 filter-field">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" #input>
        </mat-form-field>
      </div>

      <div class="action-container col-12 col-md-6 col-lg-4 mb-2 mb-md-0 d-flex justify-content-between"
           *ngIf="selection.length  !==0 ">
        <div style="border-right: 2px solid #203863">
          <button mat-button (click)="deleteAllEvaluation()" style="color: red"
                  matTooltip="Remove evaluation">
            <mat-icon class="delete-icon">delete_forever</mat-icon>
            Delete all evaluation
          </button>
        </div>
        <div>
          <button mat-button (click)="deleteSelection()">
            <mat-icon class="delete-icon">delete_forever</mat-icon>
          </button>
          <button mat-button (click)="transferSelection()">
            <mat-icon class="action-icon first-icon">subdirectory_arrow_right</mat-icon>
            <mat-icon class="action-icon">folder_special</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="isRenameFile && selection.length === 0"
           class="filter-field-rename col-12 col-md-6 col-lg-4 d-flex align-items-center">
        <mat-form-field appearance="outline" class="flex-grow-1 filter-field">
          <mat-label>Rename file</mat-label>
          <input matInput [(ngModel)]="renameFileDB!.name" placeholder="Ex. ium" (keyup.enter)="renameFileSubmit()">
        </mat-form-field>
        <mat-icon style="margin-top: -5px" (click)="resetRename()">cancel</mat-icon>
      </div>
    </div>


    <table mat-table [dataSource]="dataSource" class="table table-striped table-hover mat-elevation-z8" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.length !== 0 && isAllSelected()"
            [indeterminate]="selection.length !== 0 && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="align-middle">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? toggleRow(row) : null"
            [checked]="selection.includes(row.id)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name
          <mat-icon>edit</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element" (dblclick)="renameFile(element)"
            class="align-middle"> {{ element.name }}
        </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="type"> Type</th>
        <td mat-cell *matCellDef="let element" class="align-middle"> {{ element.type }}</td>
      </ng-container>

      <!-- Folder Column -->
      <ng-container matColumnDef="folder">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="folderName"> Folder</th>
        <td mat-cell class="align-middle" *matCellDef="let element"> {{ element.folderName }}</td>
      </ng-container>

      <!-- Date Creation Column -->
      <ng-container matColumnDef="dateCreation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Date Creation</th>
        <td mat-cell *matCellDef="let element" class="align-middle">
          {{ element.createdAt | date: 'dd-MM-yyyy' }} | {{ element.createdAt | date: 'HH:mm:ss' }}
        </td>
      </ng-container>

      <!-- P Criteria Column -->
      <ng-container matColumnDef="criteria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="pcriteria" class="text-center">P-Criteria</th>
        <td mat-cell *matCellDef="let element" class="align-middle" style="width: 110px;">
          <button mat-button (click)="evaluationInfos(element.id)"
                  *ngIf="element.evaluation && element.pcriteria !== null"
                  [ngStyle]="{'color': element.pcriteria === null ? 'gray' : (element.pcriteria < 50 ? 'red' : 'green')}"
                  class="evaluation-btn">
            <mat-icon *ngIf="element.pcriteria !== null">{{ element.pcriteria < 50 ? 'thumb_down' : 'thumb_up' }}
            </mat-icon>
            {{ element.pcriteria !== null ? element.pcriteria + '%' : 'N/A' }}
          </button>
        </td>
      </ng-container>
      <!-- P Keyword Column -->
      <ng-container matColumnDef="keyword">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="pkeywords" class="text-center">P-Keyword</th>
        <td mat-cell *matCellDef="let element" class="align-middle" style="width: 115px;">
          <button mat-button
                  (click)="evaluationInfos(element.id)"
                  *ngIf="element.evaluation && element.pkeywords !== null"
                  [ngStyle]="{'color': element.pkeywords === null ? 'gray' : (element.pkeywords < 50 ? 'red' : 'green')}"
                  class="evaluation-btn">
            <mat-icon *ngIf="element.pkeywords !== null">{{ element.pkeywords < 50 ? 'thumb_down' : 'thumb_up' }}
            </mat-icon>
            {{ element.pkeywords !== null ? element.pkeywords + '%' : 'N/A' }}
          </button>
        </td>
      </ng-container>
      <!-- P Scoring Column -->
      <ng-container matColumnDef="scoring">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="pscoring" class="text-center">P-Scoring</th>
        <td mat-cell *matCellDef="let element" class="align-middle" style="width: 110px;">
          <button mat-button
                  (click)="evaluationInfos(element.id)"
                  *ngIf="element.evaluation && element.pscoring !== null"
                  [ngStyle]="{'color': element.pscoring === null ? 'gray' : (element.pscoring < 50 ? 'red' : 'green')}"
                  class="evaluation-btn">
            <mat-icon *ngIf="element.pscoring !== null">{{ element.pscoring < 50 ? 'thumb_down' : 'thumb_up' }}
            </mat-icon>
            {{ element.pscoring !== null ? element.pscoring + '%' : 'N/A' }}
          </button>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="align-middle">
          <button mat-button (click)="viewDescription(element.id)" class="action-btn">
            <mat-icon>picture_as_pdf</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 30, 60, 120]" showFirstLastButtons
                   aria-label="Select page of periodic elements" class="list-pagination"></mat-paginator>
  </div>

  <ng-container *ngIf="error">
    <span class="error-message">{{ error }}</span>
  </ng-container>

  <ng-container *ngIf="!isLoading && dataSource?.data?.length === 0 && !error">
    <span class="error-message">No data available</span>
  </ng-container>
</ng-container>

<ng-container *ngIf="isResult">
  <!-- Gestion du chargement -->
  <div class="spinner" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Affichage du contenu lorsque l'évaluation est présente et qu'il n'y a pas d'erreurs -->
  <ng-container *ngIf="!isLoading && evaluation?.id && !error">
    <ng-container *ngIf="evaluation === null">
      <span class="error-message">No evaluation found.</span>
    </ng-container>
    <div class="body-viewer">
      <div class="pdf-viewer">
        <ngx-extended-pdf-viewer
          [src]="pdfSrc"
          useBrowserLocale="true"
          [textLayer]="true"
          [showHandToolButton]="true"
          class="ngx-viewer">
        </ngx-extended-pdf-viewer>
      </div>

      <div class="result-container">
        <div class="return-button justify-content-between mt-1">
          <button mat-raised-button (click)="deleteEvaluation(evaluation.id)" style="color: red"
                  matTooltip="Remove evaluation of this file" *ngIf="evaluation">
            <mat-icon>delete_forever</mat-icon>
            Delete
          </button>
          <span class=" align-content-center" style="color: #004a86; font-size: 1.2rem"
                matTooltip="Last evaluation">
            {{evaluation.createdAt | date: 'dd-MM-yyyy'}}
          </span>
          <button mat-raised-button (click)="returnToFilesView()">
            <mat-icon>arrow_back</mat-icon>
            Return
          </button>
        </div>
        <!-- Affichage des critères acceptés -->
        <div class="result-text" *ngIf="evaluation.acceptCriteria?.length">
          <h2 class="accepted">Accepted Criteria:</h2>
          <ul>
            <li *ngFor="let criteria of evaluation.acceptCriteria; let last = last">
              <div class="accepted mt-1 d-flex justify-content-between">
                <h3 style="color:#007e40;">{{ criteria.name }}</h3>  <span style="color: #004a86; font-size: 0.8rem">{{ criteria.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <p>{{ criteria.message }}</p>
              <mat-divider *ngIf="!last"></mat-divider>
            </li>
          </ul>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des critères rejetés -->
        <div class="result-text" *ngIf="evaluation.rejectCriteria?.length">
          <h2 class="rejected">Rejected Criteria:</h2>
          <ul>
            <li *ngFor="let criteria of evaluation.rejectCriteria; let last = last">
              <div class="accepted mt-1 d-flex justify-content-between">
                <h3 style="color:#bd0101;">{{ criteria.name }}</h3>  <span style="color: #004a86; font-size: 0.8rem">{{ criteria.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <p>{{ criteria.message }}</p>
              <mat-divider *ngIf="!last"></mat-divider>
            </li>
          </ul>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des mots existants -->
        <div class="result-text" *ngIf="evaluation.existWords?.length">
          <h2 class="accepted">Keywords found:</h2>
          <div class="keywords-container p-2" style="color:green;">
            <span *ngFor="let word of evaluation.existWords" class="keyword">
              {{ word }}
            </span>
          </div>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des mots non existants -->
        <div class="result-text" *ngIf="evaluation.noExistWords?.length">
          <h2 class="rejected">Keywords that were not found:</h2>
          <div class="keywords-container p-2" style="color:red;">
            <span *ngFor="let keyword of evaluation.noExistWords" class="keyword">
              {{ keyword }}
            </span>
          </div>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage du score -->
        <div class="result-text" *ngIf="evaluation.scoring?.length">
          <h2 class="score">Scoring:</h2>
          <ng-container *ngFor="let score of evaluation.scoring; let last = last">
            <ng-container *ngIf="score.score !== null; else noExistScore">
              <div class="accepted mt-1 d-flex justify-content-between">
                <span>{{ score.profile }}</span>  <span style="color: #004a86; font-size: 1rem">{{ score.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <span class="score-score"
                    [ngStyle]="{ 'color': score.score < 50 ? 'red' : 'green' }">
                {{ score.score }}%
              </span>
            </ng-container>
            <ng-template #noExistScore>
              <p>No score found.</p>
            </ng-template>
            <ng-container *ngIf="score.message; else noExistMessage">
              <p class="score-message">{{ score.message }}</p>
            </ng-container>
            <ng-template #noExistMessage>
              <p>No message found.</p>
            </ng-template>
            <mat-divider class="divider-criteria" *ngIf="!last"></mat-divider>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Gestion des erreurs -->
  <ng-container *ngIf="!isLoading && error">
    <span class="error-message">{{ error }}</span>
  </ng-container>
</ng-container>





