
.folders-container {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f5f5f5;

    h3 {
      font-size: 1.2rem;
      margin: 0;
      font-weight: bold;
      color: #004985;
    }
  }

  .header-container-2{
    position: relative;
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .left-section {
      display: flex;
      align-items: center;
      .filter-field{
        margin-bottom: -20px;
        font-size: 20px;
        min-width: 200px;
        width: 75%;
      }
    }

    .right-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1rem;
      button {
        font-size: 1rem;
        margin: -2px 15px 0 15px;

        mat-icon {
          width: auto;
          height: auto;
          font-size: 25px;
          color: red;
        }
      }
      .add-folder{
        font-size: 1.1rem;
        margin: 0 10px;

        mat-icon {
          width: auto;
          height: auto;
          font-size: 35px;
          color: #004985;
        }
      }
      .example-margin {
        margin: 0 20px;
        transform: scale(1.2);
      }
    }
  }


.spinner{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}
  .mat-mdc-progress-spinner{
    margin: 100px auto;
  }
  .spinner .spinner-border {
    width: 5rem;
    height: 5rem;
  }


  .error-message {
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    text-align: center;
    color: red;
    font-size: 1.3em;
    margin: 50px 0;
  }

  .content {
    //padding: 16px;
    //margin: 15px;

    .grid-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      margin: auto;
    }

    mat-card.mat-elevation-z4 {
      width: 100%;
      height: auto;
      padding: 2px;
      position: relative;
      border-radius: 15px;

      mat-card-actions {
        background-color: #FFFFFF;
      }

      .checkbox-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: 50%;
        padding: 2px;
      }

      &:hover {
        color: #000;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        img {
          background-color: #004985;
          border-radius: 12px 15px 12px 12px;
        }

        .card-actions {
          color: #030061;
        }
      }

      &:active {
        background-color: #e0e0e0;
        color: #333;
      }

      .image-pdf {
        width: 100%;
        height: auto;
      }

      .card-actions {
        position: absolute;
        right: 5%;
        top: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .word {
          display: block;
          word-break: break-word;
          //margin: 10px 0;
          padding: 5px;
          font-size: 1rem;
          color: #004985;

          white-space: nowrap; // Empêche le retour à la ligne
          overflow: hidden; // Cache le texte qui dépasse les limites
          text-overflow: ellipsis; // Ajoute des points de suspension si le texte est trop long

          -webkit-user-select: none; /* Safari */
          -moz-user-select: none;    /* Firefox */
          -ms-user-select: none;     /* Internet Explorer/Edge */
          user-select: none;         /* Standard */
        }

        .word-count {
          display: block;
          color: #030060;
          font-size: 1.5rem;
        }
      }

      .name-folder {
        position: absolute;
        right: 1%;
        left: 10%;
        bottom: 1%;
        height: 40%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        text-align: right;
        justify-content: center;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer/Edge */
        user-select: none;         /* Standard */

        .word-action {
          display: block;
          width: 100%;
          font-size: 1rem;
          //word-break: break-all;
          //white-space: nowrap;        /* Empêcher les retours à la ligne pour permettre le défilement horizontal */
          margin: 5px 0;
          padding: 5px;
          overflow-x: auto;           /* Permettre le défilement horizontal */
          -webkit-overflow-scrolling: touch; /* Améliorer le défilement sur les appareils tactiles */

          /* Masquer la barre de défilement dans Webkit (Chrome, Safari) */
          &::-webkit-scrollbar {
            display: none;
          }

          -webkit-user-select: none; /* Safari */
          -moz-user-select: none;    /* Firefox */
          -ms-user-select: none;     /* Internet Explorer/Edge */
          user-select: none;         /* Standard */
        }
      }
    }

    @media (max-width: 768px) {
      .grid-container {
        flex-direction: column;
      }

      mat-card.mat-elevation-z4 {
        width: 100%;
      }
    }
  }
}

