<div class="container-fluid">
  <mat-nav-list class="nav-list-horizontal">
    <a mat-list-item [routerLink]="['/cvs/settings/profile']" routerLinkActive="active-link" >
      <span class="tab-title">
        <mat-icon class="tab-icon">person_pin</mat-icon> Profile
      </span>
    </a>
    <a mat-list-item [routerLink]="['/cvs/settings/users']" routerLinkActive="active-link">
      <span class="tab-title">
        <mat-icon class="tab-icon">group</mat-icon> Users
      </span>
    </a>
  </mat-nav-list>

  <div class="tab-content mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
