
.container-load {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;

    h3, span {
      font-size: 20px;
      margin: 0;
      font-weight: bold;
      color: #004985;
    }

  }

  .folder-container {
    width: 100%;
    display: flex;
    align-items: center;

    .select-form {
      max-width: 450px;
      margin-left: auto;
    }

    .select-full-width {
      width: 100%;
      margin: 5px 0 -20px 0;
      mat-label {
        font-size: 20px;

      }

      input {
        font-size: 20px;
      }
    }

    button {
      margin: 0;
      width: 100%;
      color: #0023a3;
      font-size: 20px;
      border-top: solid 2px #80a8ff;
      border-right: solid 2px #80a8ff;
      border-left: solid 2px #80a8ff;
    }
  }

  .btn-upload {
    padding: 8px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    button {
      margin: 5px 0;
      width: 200px;
      height: 50px;
      color: #0023a3;
      font-size: 18px;
      border: solid 2px #80a8ff;
    }
    .progress-container {
      width: 100%;
      margin: 15px 0;
      position: relative;

      span {
        margin: auto;
        width: 100%;
        color: black;
        font-size: 1.3em;
        font-weight: bold;
      }

      mat-progress-bar {
        position: absolute;
        margin: 5px 0;
        width: 100%;
        font-size: 50px;
      }
    }
  }

  ngx-dropzone {
    min-height: 450px;
    max-height: 100%;
    background: #e4e4e4;
    padding: 25px;
    color: #000000;
    border: 5px dashed #005127;
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;

    .label-drop {
      font-size: 20px;

      mat-icon {
        height: auto;
        width: auto;
        font-size: 100px;
      }
    }
    .word-break-all {
      word-wrap: break-word;
      word-break: break-all;
      overflow-wrap: break-word;
      white-space: normal;
    }
  }
}



