<div class="container-load">
  <div class="header-container">
    <h2>Load PDF file(s)</h2>
    <div class="file-count">{{ files.length }} file(s)</div>
  </div>
  <div class="folder-container">
    <form class="select-form">
      <button mat-raised-button (click)="openAddFolder()">Add a new folder..
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field class="select-full-width" appearance="outline">
        <mat-label>Select Folder</mat-label>
        <input matInput
               type="text"
               aria-label="Select Folder"
               [matAutocomplete]="auto"
               (focus)="onFocus()"
               [formControl]="folderCtrl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let folder of filteredFolders | async" [value]="folder">
            <mat-icon>folder</mat-icon>
            <span>{{ folder }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div class="btn-upload">
    <button mat-button (click)="uploadFiles()">Upload
      <mat-icon>file_upload</mat-icon>
    </button>
    <div class="progress-container" *ngIf="progress !== null">
      <span>:  {{ progress }}  %</span>
      <mat-progress-bar mode="determinate" value="{{progress}}"></mat-progress-bar>
    </div>
  </div>


  <ngx-dropzone class="ngx-dropzone" (change)="onSelect($event)" [accept]="'application/pdf'" [expandable]="true">
    <ngx-dropzone-label class="label-drop"><mat-icon>cloud_upload</mat-icon> <br><span>Drop your PDF files here!</span>  </ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>


</div>
