<!--
<ng-container *ngIf="!isResult">
  <div class="spinner" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>
  <div class="spinner-overlay" *ngIf="inOperation">
    <mat-spinner class="spinner-load"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading && dataSource && dataSource.length > 0 && !error">
    <div class="header">
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" #input>
      </mat-form-field>
      <div class="action-container" *ngIf="selection.hasValue() && isChecked">
        <button mat-button (click)="deleteSelection()"> Delete
          <mat-icon class="delete-icon">delete_forever</mat-icon>
        </button>
        <button mat-button (click)="transferSelection()"> Transfer to (folder)
          <mat-icon class="action-icon first-icon">subdirectory_arrow_right</mat-icon>
          <mat-icon class="action-icon">folder_special</mat-icon>
        </button>
      </div>
      <div class="select-all">
        <div style="display: inline; margin-right: 10px" *ngIf="isChecked">Select all :
          <mat-checkbox
            (change)="$event ? toggleAllGrid() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </div>

        <mat-slide-toggle class="example-margin" [(ngModel)]="isChecked" (click)="checkedClick()">Select
        </mat-slide-toggle>
      </div>
    </div>

    <div class="content">

      <div fxLayout="row wrap" fxLayoutGap="grid" class="grid-container">
        <div [fxFlex]="(100 / gridColumns) + '%'"
             [fxFlex.xs]="100 + '%'"
             [fxFlex.sm]="(100 / 4) + '%'"
             [fxFlex.md]="(100 / 5) + '%'"
             [fxFlex.lg]="(100 / 7) + '%'"
             [fxFlex.xl]="(100 / 10) + '%'"
             [fxFlex.gt-xs]="(100 / 3) + '%'"
             [fxFlex.gt-sm]="(100 / 4) + '%'"
             [fxFlex.gt-md]="(100 / 5) + '%'"
             [fxFlex.gt-lg]="(100 / 6) + '%'"
             [fxFlex.lt-sm]="(100 / 2) + '%'"
             [fxFlex.lt-md]="(100 / 3) + '%'"
             [fxFlex.lt-lg]="(100 / 4) + '%'"
             [fxFlex.lt-xl]="(100 / 6) + '%'"

             *ngFor="let file of filteredData">
          <mat-card class="mat-elevation-z4" (dblclick)="viewDescription(file.id)">
            <div class="checkbox-container" (click)="$event.stopPropagation()">
              <mat-checkbox (change)="$event ? toggleSelection(file.id) : null"
                            [checked]="selection.isSelected(file.id)"
                            [aria-label]="checkboxLabel(file.id)" *ngIf="isChecked">
              </mat-checkbox>
            </div>
            <img mat-card-image src="/assets/images/PDF_file_icon.svg" alt="pdf photos" class="image-pdf"/>
            <div class="card-actions">
              <div class="infos-file">
                <h3 class="word">{{ file.name }}</h3>
                <span class="word">{{ file.folderName }}</span>
                <span class="word">{{ file.createdAt | date: 'yyyy-MM-dd' }}</span>
              </div>
            </div>
            <mat-card-actions class="card-results" *ngIf="file.acceptCriteria?.length || file.rejectCriteria?.length
             || file.existWords?.length || file.noExistWords?.length || file.scoring">
              <div *ngIf="file.acceptCriteria?.length || file.rejectCriteria?.length">
                <button mat-button class="criteria-container" (click)="criteriaInfos(file)">
                <span
                  class="criteria-accept"
                  [ngStyle]="{ 'color': getCriteriaColor(file.acceptCriteria?.length, file.rejectCriteria?.length) }"
                  style="margin-right: 10px">
              {{ calculateAcceptancePercentage(file.acceptCriteria?.length, file.rejectCriteria?.length) }}%
            </span>
                </button>

                <button mat-button class="criteria-container"
                        (click)="criteriaInfos(file)">
                  <mat-icon>info</mat-icon>
                  <span class="criteria-accept" style="color: green">{{ file.acceptCriteria?.length || 0 }}</span>
                  <sub>/{{ (file.acceptCriteria?.length || 0) + (file.rejectCriteria?.length || 0) }}</sub>
                  &#45;&#45;
                  <span class="criteria-reject" style="color: red">{{ file.rejectCriteria?.length || 0 }}</span>
                  <sub>/{{ (file.acceptCriteria?.length || 0) + (file.rejectCriteria?.length || 0) }}</sub>
                </button>
              </div>

              <div *ngIf="file.existWords?.length || file.noExistWords?.length">
                <button mat-button class="criteria-container"
                        (click)="keywordsInfos(file)">
              <span
                class="criteria-accept"
                [ngStyle]="{ 'color': getCriteriaColor(file.existWords?.length , file.noExistWords?.length) }"
                style="margin-right: 10px">
              {{ calculateAcceptancePercentage(file.existWords?.length, file.noExistWords?.length) }}%
              </span>
                </button>
                <button mat-button class="criteria-container"
                        (click)="keywordsInfos(file)">
                  <mat-icon>info</mat-icon>
                  <span class="criteria-accept" style="color: green">{{ file.existWords?.length || 0 }}</span> -
                  <span class="criteria-reject" style="color: red">{{ file.noExistWords?.length || 0 }}</span>
                  <sub>  /{{ (file.existWords?.length || 0) + (file.noExistWords?.length || 0) }}</sub>
                </button>
              </div>

              <div *ngIf="file.scoring && file.scoring.score">
                <button mat-button class="criteria-container"
                        (click)="scoringInfos(file.id, file.scoring)">
                  <span class="criteria-accept"
                        [ngStyle]="{ 'color': getCriteriaColor(file.scoring.score, (100 - file.scoring.score)) }"
                        style="margin-right: 10px">
                    {{ file.scoring?.score }}%
                  </span>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="error">
    <span class="error-message">{{ error }}</span>
  </ng-container>
  &lt;!&ndash;Si le datasource est vide(n'a pas d'elements)&ndash;&gt;
  <ng-container *ngIf="!isLoading && dataSource && dataSource.length === 0 && !error">
    <span class="error-message">No data available</span>
  </ng-container>

</ng-container>

<ng-container *ngIf="isResult">
  <div class="body-viewer">
    <div class="pdf-viewer">
      <ngx-extended-pdf-viewer
        [src]="pdfSrc"
        useBrowserLocale="true"
        [textLayer]="true"
        [showHandToolButton]="true"
        class="ngx-viewer">
      </ngx-extended-pdf-viewer>
    </div>

    <div class="result-container" *ngIf="this.resultData || this.resultKeyword || this.resultScoring">
      <div class="return-button">
        <button mat-raised-button (click)="returnToFilesView()">
          <mat-icon>arrow_back</mat-icon>
          Return
        </button>
      </div>
      <div class="result-text" *ngIf="this.resultData">
        <h2 class="accepted">Accepted Criteria:</h2>
        <ng-container *ngIf="resultData?.acceptCriteria?.length; else noAcceptCriteria">
          <ul>
            <li *ngFor="let criteria of resultData.acceptCriteria">
              <h3 style="color:#007e40;">{{ criteria.name }}</h3>
              <p>{{ criteria.message }}</p>
            </li>
          </ul>
        </ng-container>
        <ng-template #noAcceptCriteria>
          <p>No accepted criteria.</p>
        </ng-template>

        <mat-divider class="divider-criteria"></mat-divider>
        <h2 class="rejected">Rejected Criteria: </h2>
        <ng-container *ngIf="resultData?.rejectCriteria?.length; else noRejectCriteria">
          <ul>
            <li *ngFor="let criteria of resultData.rejectCriteria">
              <h3 style="color:#fb0000;">{{ criteria.name }}</h3>
              <p>{{ criteria.message }}</p>
            </li>
          </ul>
        </ng-container>

        &lt;!&ndash; Affichage d'un message si aucun critère rejeté n'est présent &ndash;&gt;
        <ng-template #noRejectCriteria>
          <p>No rejected criteria.</p>
        </ng-template>

      </div>


      <div class="result-text" *ngIf="this.resultKeyword">
        <h2 class="accepted">Keywords found:</h2>
        <ng-container *ngIf="resultKeyword?.existWords?.length; else noExistWords">
          <ul>
            <li *ngFor="let keyword of resultKeyword.existWords">
              <h3 style="color:#007e40;">{{ keyword }}</h3>
            </li>
          </ul>
        </ng-container>
        <ng-template #noExistWords>
          <p>no keywords found.</p>
        </ng-template>
        <mat-divider class="divider-criteria"></mat-divider>
        <h2 class="rejected">keywords that were not found: </h2>
        <ng-container *ngIf="resultKeyword?.noExistWords?.length; else noNoExistWords">
          <ul>
            <li *ngFor="let keyword of resultKeyword.noExistWords">
              <h3 style="color:#fb0000;">{{ keyword }}</h3>
            </li>
          </ul>
        </ng-container>

        <ng-template #noNoExistWords>
          <p>no keywords exist.</p>
        </ng-template>
      </div>
      <div class="result-text" *ngIf="resultScoring">
        <ng-container *ngIf="resultScoring.score; else noExistScore">
          <span class="score-score"
                [ngStyle]="{ 'color': getCriteriaColor(resultScoring.score, (100 - resultScoring.score)) }">
            {{ resultScoring.score }}%
          </span>
        </ng-container>

        <ng-template #noExistScore>
          <p>No score found.</p>
        </ng-template>

        <mat-divider class="divider-criteria"></mat-divider>

        <ng-container *ngIf="resultScoring.message; else noExistMessage">
          <p class="score-message">{{ resultScoring.message }}</p>
        </ng-container>

        <ng-template #noExistMessage>
          <p>No message found.</p>
        </ng-template>
      </div>

    </div>
  </div>

</ng-container>
-->

<ng-container *ngIf="!isResult">
  <div class="d-flex justify-content-center my-4" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>
  <div class="spinner-overlay" *ngIf="inOperation">
    <mat-spinner class="spinner-load"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading && dataSource && dataSource.length > 0 && !error" class="container-fluid">
    <div class="header row d-flex align-items-center justify-content-between">
      <!-- Filter input -->
      <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
        <mat-form-field appearance="outline" class="w-100 filter-field">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" #input>
        </mat-form-field>
      </div>

      <!-- Action container for delete and transfer buttons -->
      <div class="action-container col-12 col-md-6 col-lg-4 mb-2 mb-md-0 d-flex justify-content-center"
           *ngIf="selection.hasValue() && isChecked">
        <div style="border-right: 2px solid #203863">
          <button mat-button (click)="deleteAllEvaluation()" style="color: red"
                  matTooltip="Remove evaluation">
            <mat-icon class="delete-icon">delete_forever</mat-icon>
            Delete all evaluation
          </button>
        </div>
        <div>
          <button mat-button (click)="deleteSelection()">
            <mat-icon class="delete-icon">delete_forever</mat-icon>
          </button>
          <button mat-button (click)="transferSelection()">
            <mat-icon class="action-icon first-icon">subdirectory_arrow_right</mat-icon>
            <mat-icon class="action-icon">folder_special</mat-icon>
          </button>
        </div>
      </div>

      <!-- Select all container -->
      <div class="select-all col-12 col-md-6 d-flex justify-content-md-end flex-wrap align-items-center">
        <div style="display: inline; margin-right: 10px" *ngIf="isChecked">Select all:
          <mat-checkbox
            (change)="$event ? toggleAllGrid() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </div>

        <mat-slide-toggle class="example-margin" [(ngModel)]="isChecked" (click)="checkedClick()">Select
        </mat-slide-toggle>
      </div>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="grid" class="grid-container">
        <div [fxFlex]="(100 / gridColumns) + '%'"
             [fxFlex.xs]="100 + '%'"
             [fxFlex.sm]="(100 / 3) + '%'"
             [fxFlex.md]="(100 / 5) + '%'"
             [fxFlex.lg]="(100 / 7) + '%'"
             [fxFlex.xl]="(100 / 10) + '%'"

             *ngFor="let file of filteredData">
          <mat-card class="mat-elevation-z4" (dblclick)="viewDescription(file.id)">
            <div class="checkbox-container" (click)="$event.stopPropagation()">
              <mat-checkbox (change)="$event ? toggleSelection(file.id) : null"
                            [checked]="selection.isSelected(file.id)"
                            [aria-label]="checkboxLabel(file.id)" *ngIf="isChecked">
              </mat-checkbox>
            </div>
            <img mat-card-image src="/assets/images/PDF_file_icon.svg" alt="pdf photos" class="image-pdf"/>
            <div class="card-actions align-items-center">
              <div class="infos-file text-center align-items-center">
                <h3 class="word">{{ file.name }}</h3>
                <span class="word">{{ file.folderName }}</span>
                <span class="word">{{ file.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
            </div>

            <mat-card-actions class="card-results" *ngIf="file.evaluation">
              <button class="button-container" mat-button type="button" (click)="evaluationInfos(file.id)">
                <span [ngStyle]="{'color': file.pcriteria === null ? 'gray' : (file.pcriteria < 50 ? 'red' : 'green')}"
                      class="evaluation-btn">Criteria:
                  {{file.pcriteria !== null ? file.pcriteria + '%' : 'N/A' }}
                </span>
                <span [ngStyle]="{'color': file.pkeywords === null ? 'gray' : (file.pkeywords < 50 ? 'red' : 'green')}"
                      class="evaluation-btn">Keywords:
                  {{file.pkeywords !== null ? file.pkeywords + '%' : 'N/A' }}
                </span>
                <span [ngStyle]="{'color': file.pscoring === null ? 'gray' : (file.pscoring < 50 ? 'red' : 'green')}"
                      class="evaluation-btn">Score:
                  {{ file.pscoring !== null ? file.pscoring + '%' : 'N/A' }}
                </span>
              </button>
            </mat-card-actions>


          </mat-card>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="error">
    <span class="error-message">{{ error }}</span>
  </ng-container>
  <!--Si le datasource est vide(n'a pas d'elements)-->
  <ng-container *ngIf="!isLoading && dataSource && dataSource.length === 0 && !error">
    <span class="error-message">No data available</span>
  </ng-container>

</ng-container>


<ng-container *ngIf="isResult">
  <!-- Gestion du chargement -->
  <div class="spinner" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Gestion du contenu lorsque l'évaluation est présente -->
  <ng-container *ngIf="!isLoading && evaluation?.id && !error">
    <ng-container *ngIf="evaluation === null">
      <span class="error-message">No evaluation found.</span>
    </ng-container>
    <div class="body-viewer">
      <div class="pdf-viewer">
        <ngx-extended-pdf-viewer
          [src]="pdfSrc"
          useBrowserLocale="true"
          [textLayer]="true"
          [showHandToolButton]="true"
          class="ngx-viewer">
        </ngx-extended-pdf-viewer>
      </div>

      <div class="result-container">
        <div class="return-button justify-content-between mt-1">
          <button mat-raised-button (click)="deleteEvaluation(evaluation.id)" style="color: red"
                  matTooltip="Remove evaluation of this file" *ngIf="evaluation">
            <mat-icon>delete_forever</mat-icon>
            Delete
          </button>
          <span class=" align-content-center" style="color: #004a86; font-size: 1.2rem"
                matTooltip="Last evaluation">
            {{evaluation.createdAt | date: 'dd-MM-yyyy'}}
          </span>
          <button mat-raised-button (click)="returnToFilesView()">
            <mat-icon>arrow_back</mat-icon>
            Return
          </button>
        </div>

        <!-- Affichage des critères acceptés -->
        <div class="result-text" *ngIf="evaluation.acceptCriteria?.length">
          <h2 class="accepted">Accepted Criteria:</h2>
          <ul>
            <li *ngFor="let criteria of evaluation.acceptCriteria; let last = last">
              <div class="accepted mt-1 d-flex justify-content-between">
                <h3 style="color:#007e40;">{{ criteria.name }}</h3>  <span style="color: #004a86; font-size: 0.8rem">{{ criteria.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <p>{{ criteria.message }}</p>
              <mat-divider *ngIf="!last"></mat-divider>
            </li>
          </ul>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des critères rejetés -->
        <div class="result-text" *ngIf="evaluation.rejectCriteria?.length">
          <h2 class="rejected">Rejected Criteria:</h2>
          <ul>
            <li *ngFor="let criteria of evaluation.rejectCriteria; let last = last">
              <div class="accepted mt-1 d-flex justify-content-between">
                <h3 style="color:#007e40;">{{ criteria.name }}</h3>  <span style="color: #004a86; font-size: 0.8rem">{{ criteria.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <p>{{ criteria.message }}</p>
              <mat-divider *ngIf="!last"></mat-divider>
            </li>
          </ul>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des mots existants -->
        <div class="result-text" *ngIf="evaluation.existWords?.length">
          <h2 class="accepted">Keywords found:</h2>
          <div class="keywords-container p-2" style="color:green;">
            <span *ngFor="let word of evaluation.existWords" class="keyword">
              {{ word }}
            </span>
          </div>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des mots non existants -->
        <div class="result-text" *ngIf="evaluation.noExistWords?.length">
          <h2 class="rejected">Keywords that were not found:</h2>
          <div class="keywords-container p-2" style="color:red;">
            <span *ngFor="let keyword of evaluation.noExistWords" class="keyword">
              {{ keyword }}
            </span>
          </div>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage du score -->
        <div class="result-text" *ngIf="evaluation.scoring?.length">
          <h2 class="score">Scoring:</h2>
          <ng-container *ngFor="let score of evaluation.scoring; let last = last">
            <ng-container *ngIf="score.score !== null; else noExistScore">
              <div class="accepted mt-1 d-flex justify-content-between">
                <span>{{ score.profile }}</span>  <span style="color: #004a86; font-size: 1rem">{{ score.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <span class="score-score"
                    [ngStyle]="{ 'color': score.score < 50 ? 'red' : 'green' }">
                {{ score.score }}%
              </span>
            </ng-container>
            <ng-template #noExistScore>
              <p>No score found.</p>
            </ng-template>
            <ng-container *ngIf="score.message; else noExistMessage">
              <p class="score-message">{{ score.message }}</p>
            </ng-container>
            <ng-template #noExistMessage>
              <p>No message found.</p>
            </ng-template>
            <mat-divider class="divider-criteria" *ngIf="!last"></mat-divider>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Gestion des erreurs -->
  <ng-container *ngIf="!isLoading && error">
    <span class="error-message">{{ error }}</span>
  </ng-container>
</ng-container>


