
<div class="header">
  <mat-form-field appearance="fill" class="filter-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <div class="action-container" *ngIf="selection.hasValue()">
    <button mat-button (click)="deleteSelection()"> Delete
      <mat-icon class="delete-icon">delete_forever</mat-icon>
    </button>
    <button mat-button (click)="transferSelection()"> Transfer to (folder)
      <mat-icon class="action-icon first-icon">subdirectory_arrow_right</mat-icon>
      <mat-icon class="action-icon">folder_special</mat-icon>
    </button>
  </div>
  <div class="select-all"> Select all :
    <mat-checkbox
      (change)="$event ? toggleAllGrid() : null"
      [checked]="selection.hasValue() && isAllSelected()"
      [indeterminate]="selection.hasValue() && !isAllSelected()"
      [aria-label]="checkboxLabel()">
    </mat-checkbox>
  </div>
</div>

<div class="content">

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="180px"
         fxFlex.xs="100%"
         fxFlex.sm="33%"
         *ngFor="let num of filesData">
      <mat-card class="mat-elevation-z4" (dblclick)="handleCardClick(num)">
        <div class="checkbox-container"  (click)="$event.stopPropagation()">
          <mat-checkbox (change)="$event ? toggleSelection(num) : null"
                        [checked]="selection.isSelected(num)"
                        [aria-label]="checkboxLabel(num)">
          </mat-checkbox>
        </div>
        <img mat-card-image src="assets/PDF_file_icon.svg" alt="pdf photos" class="image-pdf"/>
        <mat-card-actions class="card-actions">
          <div class="infos-file">
            <h3>Name of {{num}}</h3>
            create date
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>




</div>
