<ng-container *ngIf="!isResult">
  <div class="d-flex justify-content-center my-4" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>
  <div class="spinner-overlay" *ngIf="inOperation">
    <mat-spinner class="spinner-load"></mat-spinner>
  </div>

  <ng-container *ngIf="!isLoading && dataSource && dataSource.length > 0 && !error" class="container-fluid">
    <div class="header row d-flex align-items-center justify-content-between">
      <!-- Filter input -->
      <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
        <mat-form-field appearance="outline" class="w-100 filter-field">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name" #input>
        </mat-form-field>
      </div>

      <!-- Action container for delete and transfer buttons -->
      <div class="action-container col-12 col-md-6 col-lg-4 mb-2 mb-md-0 d-flex justify-content-center"
           *ngIf="selection.hasValue() && isChecked">
        <div style="border-right: 2px solid #203863">
          <button mat-button (click)="deleteAllEvaluation()" style="color: red"
                  matTooltip="Remove evaluation">
            <mat-icon class="delete-icon">delete_forever</mat-icon>
            Delete all evaluation
          </button>
        </div>
        <div>
          <button mat-button (click)="deleteSelection()">
            <mat-icon class="delete-icon">delete_forever</mat-icon>
          </button>
          <button mat-button (click)="transferSelection()">
            <mat-icon class="action-icon first-icon">subdirectory_arrow_right</mat-icon>
            <mat-icon class="action-icon">folder_special</mat-icon>
          </button>
        </div>
      </div>

      <!-- Select all container -->
      <div class="select-all col-12 col-md-6 d-flex justify-content-md-end flex-wrap align-items-center">
        <div style="display: inline; margin-right: 10px" *ngIf="isChecked">Select all:
          <mat-checkbox
            (change)="$event ? toggleAllGrid() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </div>

        <mat-slide-toggle class="example-margin" [(ngModel)]="isChecked" (click)="checkedClick()">Select
        </mat-slide-toggle>
      </div>
    </div>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="grid" class="grid-container">
        <div [fxFlex]="(100 / gridColumns) + '%'"
             [fxFlex.xs]="100 + '%'"
             [fxFlex.sm]="(100 / 3) + '%'"
             [fxFlex.md]="(100 / 5) + '%'"
             [fxFlex.lg]="(100 / 7) + '%'"
             [fxFlex.xl]="(100 / 10) + '%'"

             *ngFor="let file of filteredData">
          <mat-card class="mat-elevation-z4" (dblclick)="viewDescription(file.id)">
            <div class="checkbox-container" (click)="$event.stopPropagation()">
              <mat-checkbox (change)="$event ? toggleSelection(file.id) : null"
                            [checked]="selection.isSelected(file.id)"
                            [aria-label]="checkboxLabel(file.id)" *ngIf="isChecked">
              </mat-checkbox>
            </div>
            <img mat-card-image src="/assets/images/PDF_file_icon.svg" alt="pdf photos" class="image-pdf"/>
            <div class="card-actions align-items-center">
              <div class="infos-file text-center align-items-center">
                <h3 class="word">{{ file.name }}</h3>
                <span class="word">{{ file.folderName }}</span>
                <span class="word">{{ file.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
            </div>

            <mat-card-actions class="card-results" *ngIf="file.evaluation">
              <button class="button-container" mat-button type="button" (click)="evaluationInfos(file.id)">
                <span [ngStyle]="{'color': file.pcriteria === null ? 'gray' : (file.pcriteria < 50 ? 'red' : 'green')}"
                      class="evaluation-btn">Criteria:
                  {{file.pcriteria !== null ? file.pcriteria + '%' : 'N/A' }}
                </span>
                <span [ngStyle]="{'color': file.pkeywords === null ? 'gray' : (file.pkeywords < 50 ? 'red' : 'green')}"
                      class="evaluation-btn">Keywords:
                  {{file.pkeywords !== null ? file.pkeywords + '%' : 'N/A' }}
                </span>
                <span [ngStyle]="{'color': file.pscoring === null ? 'gray' : (file.pscoring < 50 ? 'red' : 'green')}"
                      class="evaluation-btn">Score:
                  {{ file.pscoring !== null ? file.pscoring + '%' : 'N/A' }}
                </span>
              </button>
            </mat-card-actions>


          </mat-card>
        </div>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf="error">
    <span class="error-message">{{ error }}</span>
  </ng-container>
  <!--Si le datasource est vide(n'a pas d'elements)-->
  <ng-container *ngIf="!isLoading && dataSource && dataSource.length === 0 && !error">
    <span class="error-message">No data available</span>
  </ng-container>

</ng-container>


<ng-container *ngIf="isResult">
  <!-- Gestion du chargement -->
  <div class="spinner" *ngIf="isLoading && !error">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Gestion du contenu lorsque l'évaluation est présente -->
  <ng-container *ngIf="!isLoading && evaluation?.id && !error">
    <ng-container *ngIf="evaluation === null">
      <span class="error-message">No evaluation found.</span>
    </ng-container>
    <div class="body-viewer">
      <div class="pdf-viewer">
        <ngx-extended-pdf-viewer
          [src]="pdfSrc"
          useBrowserLocale="true"
          [textLayer]="true"
          [showHandToolButton]="true"
          class="ngx-viewer">
        </ngx-extended-pdf-viewer>
      </div>

      <div class="result-container">
        <div class="return-button justify-content-between mt-1">
          <button mat-raised-button (click)="deleteEvaluation(evaluation.id)" style="color: red"
                  matTooltip="Remove evaluation of this file" *ngIf="evaluation">
            <mat-icon>delete_forever</mat-icon>
            Delete
          </button>
          <span class=" align-content-center" style="color: #004a86; font-size: 1.2rem"
                matTooltip="Last evaluation">
            {{evaluation.createdAt | date: 'dd-MM-yyyy'}}
          </span>
          <button mat-raised-button (click)="returnToFilesView()">
            <mat-icon>arrow_back</mat-icon>
            Return
          </button>
        </div>

        <!-- Affichage des critères acceptés -->
        <div class="result-text" *ngIf="evaluation.acceptCriteria?.length">
          <h2 class="accepted">Accepted Criteria:</h2>
          <ul>
            <li *ngFor="let criteria of evaluation.acceptCriteria; let last = last">
              <div class="accepted mt-1 d-flex justify-content-between">
                <h3 style="color:#007e40;">{{ criteria.name }}</h3>  <span style="color: #004a86; font-size: 0.8rem">{{ criteria.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <p>{{ criteria.message }}</p>
              <mat-divider *ngIf="!last"></mat-divider>
            </li>
          </ul>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des critères rejetés -->
        <div class="result-text" *ngIf="evaluation.rejectCriteria?.length">
          <h2 class="rejected">Rejected Criteria:</h2>
          <ul>
            <li *ngFor="let criteria of evaluation.rejectCriteria; let last = last">
              <div class="accepted mt-1 d-flex justify-content-between">
                <h3 style="color:#007e40;">{{ criteria.name }}</h3>  <span style="color: #004a86; font-size: 0.8rem">{{ criteria.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <p>{{ criteria.message }}</p>
              <mat-divider *ngIf="!last"></mat-divider>
            </li>
          </ul>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des mots existants -->
        <div class="result-text" *ngIf="evaluation.existWords?.length">
          <h2 class="accepted">Keywords found:</h2>
          <div class="keywords-container p-2" style="color:green;">
            <span *ngFor="let word of evaluation.existWords" class="keyword">
              {{ word }}
            </span>
          </div>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage des mots non existants -->
        <div class="result-text" *ngIf="evaluation.noExistWords?.length">
          <h2 class="rejected">Keywords that were not found:</h2>
          <div class="keywords-container p-2" style="color:red;">
            <span *ngFor="let keyword of evaluation.noExistWords" class="keyword">
              {{ keyword }}
            </span>
          </div>
        </div>
        <mat-divider class="divider-criteria"></mat-divider>

        <!-- Affichage du score -->
        <div class="result-text" *ngIf="evaluation.scoring?.length">
          <h2 class="score">Scoring:</h2>
          <ng-container *ngFor="let score of evaluation.scoring; let last = last">
            <ng-container *ngIf="score.score !== null; else noExistScore">
              <div class="accepted mt-1 d-flex justify-content-between">
                <span>{{ score.profile }}</span>  <span style="color: #004a86; font-size: 1rem">{{ score.createdAt | date: 'dd-MM-yyyy' }}</span>
              </div>
              <span class="score-score"
                    [ngStyle]="{ 'color': score.score < 50 ? 'red' : 'green' }">
                {{ score.score }}%
              </span>
            </ng-container>
            <ng-template #noExistScore>
              <p>No score found.</p>
            </ng-template>
            <ng-container *ngIf="score.message; else noExistMessage">
              <p class="score-message">{{ score.message }}</p>
            </ng-container>
            <ng-template #noExistMessage>
              <p>No message found.</p>
            </ng-template>
            <mat-divider class="divider-criteria" *ngIf="!last"></mat-divider>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Gestion des erreurs -->
  <ng-container *ngIf="!isLoading && error">
    <span class="error-message">{{ error }}</span>
  </ng-container>
</ng-container>


