////header
.header {
  width: 100%;
  padding: 0 20px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between; /* Permet de séparer les éléments à gauche et à droite */
  align-items: center; /* Centre verticalement les éléments */

  .action-container {
    font-size: 20px;
    //width: 500px;
    //height: 50px;
    margin: 0;
    button{
      width: auto;
      height: auto;
      margin: 5px;
      mat-icon{
        width: auto;
        height: auto;
        font-size: 40px;
      }
      .first-icon{
        margin-right: -12px;
      }
    }
    .delete-icon {
      color: red;
    }
    .action-icon {
      color: green;
    }

  }

  .filter-field {
    font-size: 20px;
    width: 500px;
    margin: 0;

    mat-label {
      font-size: 20px;
    }

    input {
      border-bottom: solid 2px #004dff;
      margin: 2px 0;
      //padding: 5px 5px;
    }
  }

  .select-all{

    width: auto;
    height: auto;
    font-size: 20px;

  }
}


////
.content {
  padding: 16px;
}

.content > mat-card {
  width: 170px;
  justify-content: center;
  padding: 20px;

  .image-pdf {
    color: black;
  }
}

.mat-elevation-z4 {
  height: auto;
  border-radius: 15px;
  background-color: transparent;
  position: relative;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  .checkbox-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #ececec;
    border-radius: 50%;
    padding: 2px;
    border: none;
  }

  &:hover {
    background-color: #030061; // Changez cela à la couleur désirée
    color: #000; // Changez cela à la couleur désirée
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); // Augmente l'élévation
    .card-actions {
      color: #030061; // Changez cela à la couleur désirée
    }
  }

  &:active {
    background-color: #e0e0e0; // Changez cela à la couleur désirée pour le clic
    color: #333; // Changez cela à la couleur désirée pour le clic
  }
}

.mat-elevation-z4 .card-actions {
  height: auto;
  border-radius: 0 0 15px 15px;
  background-color: #FFFFFF;

  .infos-file {
    width: 100%;
    height: auto;
    padding: 2px;
  }
}






* {
  //background-color: #9e9e9e;
  box-shadow: 0 0 0 1px #80a8ff inset;
}



