
mat-dialog-content {
  margin: 0;
  padding: 0;
  width: auto;

  .container-p {
    width: auto;

    p {
      text-align: center;
      color: red;
      font-size: 1.2rem;
      margin: 20px auto;
      justify-content: center;
      align-items: center;
      width: 100%;
      word-wrap: break-word;  /* Permettre le retour à la ligne */
      white-space: normal;    /* Autoriser les retours à la ligne */
      word-break: break-word; /* Retourner à la ligne lorsque le mot dépasse la largeur */
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: all;
}
