<div class="view-container">
  <div class="view-header">
    <div class="main">
      <div class="main-1">
        <div class="add-criteria">
          <div class="form-container">
            <mat-form-field appearance="outline" class="input-field">
              <mat-label>Add a new Criteria</mat-label>
              <input matInput type="text" placeholder="" [(ngModel)]="inputValue" (keydown.enter)="onIconClick()">
            </mat-form-field>
            <button mat-icon-button [disabled]="!inputValue" (click)="onIconClick()">
              <mat-icon>add_circle</mat-icon>
            </button>
          </div>

        </div>
        <div cdkDropListGroup>
          <div class="example-container">
            <h2>Available Criteria</h2>
            <div
              cdkDropList
              [cdkDropListData]="criteria"
              class="example-list"
              cdkDropListSortingDisabled
              (cdkDropListDropped)="drop($event)">
              @for (item of criteria; track item) {
                <div class="example-box" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>

          <div class="example-container">
            <h2>selected Criteria</h2>

            <div
              cdkDropList
              [cdkDropListData]="selectedCriteria"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              @for (item of selectedCriteria; track item) {
                <div class="example-box" cdkDrag>{{ item }}</div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="main-2">
        <div class="main-2-1">
          <mat-form-field appearance="outline">
            <mat-label>Job Description</mat-label>
            <textarea matInput [(ngModel)]="jobDescription" cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="7" cdkAutosizeMaxRows="7"></textarea>
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>

        </div>
        <div class="main-2-2">
          <button mat-raised-button (click)="click()" [disabled]="!selectedCriteria.length">
            SEARCH
          </button>
        </div>
      </div>
    </div>


    <div class="select-view">
      <button mat-button class="reset-data" (click)="cancelData()"
      *ngIf="data$.value.length>0">
        <mat-icon>cancel</mat-icon>
      </button>
      <div class="view-footer">
        <button mat-raised-button (click)="toggleListView()" [disabled]="isListView">
          <mat-icon class="view-icon">view_list</mat-icon>
          List
        </button>
        <button mat-raised-button (click)="toggleGridView()" [disabled]="isGridView">
          <mat-icon class="view-icon">view_module</mat-icon>
          Grid
        </button>
        <div class="chat-container">
          <button mat-raised-button routerLink="/cvs/files-view/chat">
            <mat-icon>chat</mat-icon>
            Chat
          </button>
        </div>
      </div>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <div class="spinner-overlay" *ngIf="loading">
        <mat-spinner class="spinner-load"></mat-spinner>
      </div>

      <span *ngIf="error" style="color: red; font-size: 1.2rem">{{error}}</span>
    </div>


    <div class="view-content">
      <ng-container *ngIf="isListView">
        <app-list-view [data]="data$ | async"></app-list-view>
      </ng-container>
      <ng-container *ngIf="isGridView">
        <app-grid-view [data]="data$ | async"></app-grid-view>
      </ng-container>
    </div>



  </div>
</div>
