/*
* {
  //background-color: #9e9e9e;
  box-shadow: 0 0 0 1px #80a8ff inset;
}
*/

//With folder
.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 0 15px;
  margin: 15px 0;
  background-color: #f5f5f5;

  span {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    color: #004985;

    a {
      margin: 0 10px;
      color: #004985;
    }
  }
}

.example-container {
  width: 50%;
  height: 250px;
  max-width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;

  h2 {
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main-1 {
  flex: 1;
  min-width: 500px;
  margin-top: 10px;

  .add-criteria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .form-container {
      display: flex;
      align-items: center;
      height: auto;

      .input-field {
        flex-grow: 1;
        margin-right: 8px;
      }

      button {
        width: auto;
        height: auto;
        margin-top: -15px;
        display: flex;

        mat-icon {
          width: auto;
          height: auto;
          font-size: 35px;
          border-radius: 20px;
          color: #004a86;
        }
      }
    }

    .first-container {
      width: 500px;
      min-width: 300px;
    }

    .second-container {
      flex-grow: 1;
      min-width: 300px;
    }
  }
}

.main-2 {
  flex: 1;
  min-width: 500px;
  padding: 10px;

  .main-2-1 {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;

  .edit-mode {
    width: 100%;
    height: 100%;
  }
}

.example-box {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1.1rem;

  &:last-child {
    border: none;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.29);
  z-index: 1000;
  pointer-events: all;
}

.spinner-load {
  z-index: 1100;
}

.view-container {
  width: 100%;
  height: 100%;
  padding: 10px;

  h2 {
    margin: 0;
    text-align: center;
    justify-content: center;
  }

  .view-header {
    height: auto;
    margin: 12px;

    .select-view {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;

      .view-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #f5f5f5;

        button {
          width: 150px;
          height: 40px;
          font-size: 20px;
          margin: 0 10px;

          mat-icon {
            width: auto;
            height: auto;
            font-size: 50px;
          }
        }
      }
    }
  }

  .view-content {
    height: auto;
    margin: 0 10px;
  }
}

.reset-data {
  position: absolute;
  height: auto;
  font-size: 20px;
  margin: auto 10px;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 44px;
    color: red;
  }
}

.function-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*.function-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  .function-content-content{
    .full-width{
      width: 100%;
      height: 100%;
    }
  }
}*/
.function-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .function-content-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .full-width {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      mat-form-field {
        flex: 1;
      }
    }
  }
}


.function-menu {
  width: auto;
  padding: 5px 10px 25px 10px;
  box-sizing: border-box;
  border: 3px solid #004a86;
  border-radius: 10px;

  .function-menu-title {
    margin: 25px 0;
    text-align: center;
    font-size: 1.2rem;
    text-decoration-line: underline;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    width: 100%;
    order: -1;
  }

  mat-list-item {
    height: auto;
    padding: 8px;

    button {
      width: 100%;
      height: 100%;
      padding: 10px;
      text-align: right;
      justify-content: center;
      font-size: 1.1rem;
      color: #004985;
      background-color: white;
      border: none;
      display: flex;
      align-items: center;
      text-transform: none;
      cursor: pointer;
      border-radius: 10px;

      &.active {
        background-color: #004985;
        color: white;
      }
    }
  }
}
.criteria-button {
  margin: 10px auto;
  padding: 5px;
  width: auto;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.2rem;
}
.active {
  background-color: #004985;
  color: white;
}


