
* {
  //background-color: #9e9e9e;
  box-shadow: 0 0 0 1px #80a8ff inset;
}



.view-container{
  width: 100%;
  height: 100%;
  padding: 10px;
  h2{
    margin: 0;
    text-align: center;
    justify-content: center;
  }
  .view-header{
    //width: 100%;
    height: 300px;
    margin: 12px;
  }
  .view-content{
    //width: 100%;
    height: 800px;
    margin: 0 10px;
  }

}
