

// Container principal
.view-container {
  width: 100%;
  height: 100%;
  //padding: 10px;

  .view-header {
    height: auto;
    //margin: 12px;

    .select-view {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      margin-bottom: 15px;

      .view-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        //padding: 10px;
        background-color: #f5f5f5;

        button {
          width: 110px;
          height: 30px;
          font-size: 20px;
          margin: 0 10px;

          mat-icon {
            width: auto;
            height: auto;
            font-size: 35px;
          }
        }
      }
    }
  }

  .view-content {
    //margin: 0 10px;
  }
}

// Header container
.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  background-color: #f5f5f5;

  span {
    font-size: 1rem;
    font-weight: bold;
    color: #004985;

    a {
      margin: 0 10px;
      color: #004985;
    }
  }
}

// Fonctionnalités et menus
.function-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.function-content {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .function-content-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .full-width {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      mat-form-field {
        flex: 1;
      }
    }
  }
}

.function-menu {
  //padding: 5px 10px 25px 10px;
  box-sizing: border-box;
  border: 3px solid #004a86;
  border-radius: 10px;

  .function-menu-title {
    //margin: 25px 0;
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bold;
  }

  mat-list-item {
    height: auto;
    padding: 8px;

    button {
      width: 100%;
      //padding: 10px;
      text-align: right;
      justify-content: center;
      font-size: 0.8rem;
      color: #004985;
      background-color: white;
      border: none;
      display: flex;
      align-items: center;
      text-transform: none;
      cursor: pointer;
      border-radius: 10px;

      &.active {
        background-color: #004985;
        color: white;
      }
    }
  }

  @media (max-width: 900px) {
    width: 100%;
    order: -1;
  }
}

// Criteria and drag-and-drop
.main-1 {
  flex: 1;
  min-width: 500px;
  margin-top: 10px;

  .add-criteria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .form-container {
      display: flex;
      align-items: center;

      .input-field {
        flex-grow: 1;
        margin-right: 8px;
      }

      button {
        width: auto;
        height: auto;
        margin-top: -15px;
        display: flex;

        mat-icon {
          width: auto;
          height: auto;
          font-size: 30px;
          border-radius: 20px;
          color: #004a86;
        }
      }
    }

    .first-container {
      width: 500px;
      min-width: 300px;
    }

    .second-container {
      flex-grow: 1;
      min-width: 300px;
    }
  }
}

// Job Description section
.main-2 {
  flex: 1;
  min-width: 500px;
  //padding: 10px;

  .main-2-1 {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
}

// Example and drag-and-drop lists
.example-container {
  width: 50%;
  height: 230px;
  max-width: 100%;
  //margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;

  h2 {
    position: sticky;
    top: 0;
    text-decoration: underline;
    background: white;
    font-size: 1rem;
  }
}

.example-list {
  border: 2px solid #ccc;
  min-height: 100%;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;

  .edit-mode {
    margin-bottom: -20px;
    width: 100%;
    height: 100%;
  }
}

.example-box {
  padding: 10px;
  border: 1px solid #ccc;
  //border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1rem;

  &:last-child {
    border: none;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Miscellaneous styles
.criteria-button {
  margin: 10px auto;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  font-size: 1rem;
}

.reset-data {
  position: absolute;
  height: auto;
  font-size: 20px;
  mat-icon {
    width: auto;
    height: auto;
    font-size: 35px;
    color: red;
  }
}

.active {
  background-color: #004985;
  color: white;
}


