<div class="container">
  <div class="header-container">
    <h2>Load PDF file(s)</h2>
    <div class="file-count">{{ files.length }} file(s)</div>
  </div>


  <div class="button-container">
    <button mat-raised-button color="primary" (click)="uploadFiles()">Upload</button>
  </div>


  <ngx-dropzone class="ngx-dropzone" (change)="onSelect($event)" [accept]="'application/pdf'" [expandable]="true">
    <ngx-dropzone-label class="label-drop">Drop your PDF files here!</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>


</div>
