.container {
  height: 100%;
  margin: 25px;
  padding: 25px;

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    padding: 20px;

    h2 {
      color: black;
      font-size: 40px;
      margin: 0;
    }

    .file-count {
      position: absolute;
      right: 0;
      font-size: 20px;
      color: gray;
    }
  }
  //=================================================================================

  .button-container {

    width: 100%;
    height: 300px;
    background-color: #80a8ff;
    margin: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 10px;
    }
  }

  //=================================================================================




  ngx-dropzone,
  .custom-dropzone {
    margin: auto;
  }

  .ngx-dropzone {
    min-height: 450px;
    max-height: 100%;
    background: #e4e4e4;
    padding: 25px;
    color: #000000;
    border: 5px dashed #005127;
    border-radius: 5px;
    font-size: 16px;
    max-font-size: 20px;
    font-style: italic;

    .label-drop {
      font-size: 40px;
    }
  }
}




/*
.custom-dropzone {
  height: 250px;
  background: #333;
  color: #fff;
  border: 5px dashed rgb(235, 79, 79);
  border-radius: 5px;
  font-size: 20px;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}
*/


*{
  //background-color: #9e9e9e;
  box-shadow: 0 0 0 1px #80a8ff inset;
}
