

h2 {
  margin: auto;
  font-size: 1.5em;
  font-weight: 500;
}

mat-dialog-content {
  margin: 0;
  padding: 0;
  width: 100%;

  form {
    padding: 10px;
  }
  mat-form-field {
    font-size: 1em;
    width: 100%;
    min-width: 450px;
    margin: 10px 0;

    mat-label {
      font-size: 1em;
    }
  }
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //z-index: 1000;
}


.error-message {
  display: flex;               /* Utiliser flexbox */
  justify-content: center;      /* Centrer horizontalement */
  align-items: center;          /* Centrer verticalement */
  width: 100%;
  margin: auto;
  text-align: center;
  color: red;
  font-size: 1.2em;
  word-wrap: break-word;        /* Permettre le retour à la ligne */
  white-space: normal;          /* Autoriser les retours à la ligne */
  word-break: break-word;       /* Retourner à la ligne lorsque le mot dépasse la largeur */
}

